{% extends 'shopping/basic.html' %}

{% block title%} About {% endblock%}
{% block css %}

img {
    border-radius: 50%;
    width: 100px;
    border-top-width: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}
{% endblock%}
{% block body%} 



<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron" >
    <div class="container">
      <h1 class="display-3" >FLIP-ZONE</h1>
      <div class="row" style="content:' ' ;clear: both;display: table; display: flex;">
        
        <div class="column " style="float: left;flex: 33.33%;padding: 5px;width: 33.33%;padding: 5px;">
          <center>
           
          </center>
        </div>
      
      </div>
      <br>
      <p><strong>FLIP-ZONE </strong> is an Indian e-commerce company, headquartered in Bangalore, Karnataka, India, and incorporated in
        Singapore as a private limited company. The company initially focused on online book sales before expanding into
        other product categories
        such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.The service competes
        primarily with Amazon's Indian subsidiary and domestic rival Snapdeal. As of March 2017, Apna-Castle held a
        39.5% market share of India's
        e-commerce industry.Apna-Castle has a dominant position in the apparel segment, bolstered by its acquisition of
        Myntra, and was described as being "neck and neck" with Amazon in the sale of electronics and mobile phones.
        Apna-Castle also owns PhonePe,
        a mobile payments service based on the Unified Payments Interface.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>
  <hr>

  <div class="container">
<table style="    margin-left: 40px;
    margin-right: 40px;" >
  <tr>
    
    <th><h3><font face="fantsay">Mr.m</font></h3></th>
    <th><h3><font face="fantsay">Mr.k</font></h3></th>
    <th><h3><font face="fantsay">Mr.L</font></h3></th>
    <th><h3><font face="fantsay">Mrs.S</font></h3></th>
    
  </tr>
    <tr>
    <td> <img class="avatar__image" src="https://github.com/josh.png?v=3&s=40" /> </td>
    <td> <img class="avatar__image" src="https://github.com/josh.png?v=3&s=40" /> </td>
    <td> <img class="avatar__image" src="https://github.com/josh.png?v=3&s=40" /> </td>
    <td> <img class="avatar__image" src="https://github.com/josh.png?v=3&s=40" /> </td>

  </tr>
  <tr>
    <td style="padding-right: 20px;"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam sint veniam illum
          fugit molestiae ullam, sunt minus eius repellendus ipsum nisi error magnam dolores modi
          officiis. Quos eaque suscipit ea?</p></td>
    <td style="padding-right: 20px;"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam sint veniam illum
          fugit molestiae ullam, sunt minus eius repellendus ipsum nisi error magnam dolores modi
          officiis. Quos eaque suscipit ea?</p></td>
    <td style="padding-right: 20px;"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam sint veniam illum
          fugit molestiae ullam, sunt minus eius repellendus ipsum nisi error magnam dolores modi
          officiis. Quos eaque suscipit ea?</p></td>
    <td style="padding-right: 20px;"><p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam sint veniam illum
          fugit molestiae ullam, sunt minus eius repellendus ipsum nisi error magnam dolores modi
          officiis. Quos eaque suscipit ea?</p></td>
  </tr>
  <tr>
    <td><p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p></td>
    <td><p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p></td>
    <td><p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p></td>
    <td><p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p></td>
    
  </tr>
  </table>

  </div> <!-- /container -->

</main>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>
<script src="/docs/4.5/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf" crossorigin="anonymous"></script>
</body>

</html>
{% endblock%}
!