<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candyman</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto+Slab&family=Sacramento&display=swap"
        rel="stylesheet">
        <script src="index.js">
            function test() {
    var a = "3";
    var b = "8";
    
/***********Do not change the code above 👆*******/
//Write your code on lines 7 - 9:
var c = a;
a = b;
b = c;

    
/***********Do not change the code below 👇*******/

    console.log("a is " + a);
    console.log("b is " + b);
}

        </script>
        
</head>

<body>
    


    </div>
    <div class="div1">
        <img class="top-cloud" src="pics/cloud.png" alt="cloud-img">
        <h1> I'm Candyman</h1>

        <p style="font-family: 'Fredoka One', cursive; color: #c70039; font-size: 20px;">The Ice-cream Producer</p>
        <img class="bird" src="pics/albatross-bird-shape.png" alt="bird">
        <img class="bottom-cloud" src="pics/cloud.png" alt="cloud-img">
        <img src="pics/mountain.png" alt="cloud-img">
        <img class="bird2" src="pics/albatross-bird-shape.png" alt="bird">
    </div>



    <div class="div2">
        <div class="profile">
            <img class="logo-pic-candyman" src="pics/candyman.png" alt="candyman">
            <h2>Hey Guys!!</h2>
            <P class="profile-dis"> Just feel Life like my sweet sweet Ice cream. I am your favorite man one and only
                <span style="font-family: 'Audiowide', cursive;">candyman</span> who always try to feel peoples happy by
                eating this delicious Ice-cream with lot of💖💖
            </P>
            <h3>Some tingy , some tangy</h3>

        </div>
        <hr>
        <div class="my-skills">
            <h2>My skills</h2>
            <img style="width: 15%;" src="pics/NickWallowPig-128px-6.gif" alt="skills😎😎">
            <h3>Work As Ice-cream Producer at <a href="https://www.amul.com/products/plant_visit.php">My Ice-cream</a>
            </h3>
            <p>By the way I am very skillfull Person 😎😎</p>
        </div>
       
        <div class="skills-com-manger">
            <div style="padding-bottom: 50px;">

                <img class="skills-computer" src="pics/computer.png" alt="">
                <h3>Devoloping Executive</h3>
                <P style="width: 90%;">Work as the devoloping executive at My Ice-cream. I am a professional developer
                    having skill Python,Java,c++ ,css,html and many more.</P>
            </div>
            <div>

                <img class="skills-manager" src="pics/Ice_Cream_Factory.png" alt="">
                <h3>Department Manager</h3>
                <P style="width: 70%;">I am well efficent in managing all the work related to the ice-cream
                    factory.working in this field since 18 years 😊😊
                </P>
            </div>
        </div>
        <hr>
        <div class="contact-me">
          <h2>Get In Touch!</h2>
          <h3>If you really intrested in Ice-cream then I am here With You</h3>
          <p style="width: 40%; margin: 20px auto;">Share your ideas with only whom who love's ice-cream like you cuz compatiblity with ice-cream is compatiblity with ideas </p>
          <a class="redbutton" href="contact.html ">CONTACT ME</a>
        </div>
        <hr>
        <div class="div-footer">
            <table style="margin: 0 auto 0 auto; text-align: center;">
                <tr>

                    <td><a href="https://twitter.com/?lang=en"> <img class="social-logo" src="pics/twitter.png" alt="">
                        </a></td>
                    <td><a href="https://www.instagram.com/"><img class="social-logo" src="pics/instagram.png"
                                alt=""></a></td>
                    <td><a href="https://linkedin.com/"><img class="social-logo" src="pics/linkedin.png" alt=""></a>
                    </td>

                </tr>
                <tr>
                    <th>My Zwitter</th>
                    <th>My Znstagram</th>
                    <th>My Pinkdin</th>
                </tr>
            </table>
            <p style="font-family: 'Sacramento', cursive; font-weight: bold; font-size: 1.365rem; color: #23120b;">©
                😎😎2018 Candyman Ice-cream wala.😎😎</p>
        </div>





    </div>







</body>

</html>